@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:ital@0;1&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
font-family: "Open Sans", sans-serif;
box-sizing: border-box;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* Width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e1e1e; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #ff7e39, #b84f27); /* Warm orange to dark amber gradient */
  border-radius: 10px;
  border: 2px solid #1e1e1e; /* Match the track background for padding effect */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #ffa56b, #d35d2e); /* Brighter on hover */
}

h1, h2 {
   font-family: "Lato", sans-serif;
}